.post {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #333333;
  border-radius: 10px;
}

.post_create {
  padding: 30px;
  margin-bottom: 10px;
  border: 1px solid #333333;
  border-radius: 10px;
}

.div-pre {
  white-space: pre-wrap;
}